#chat-wrapper{
    position:fixed;
    bottom: 0;
    right:0;
    overflow-y: scroll;
    width:30vw;
    height:40vh;
    display: flex;
    flex-direction: column;
    #body-chat{
        height:90%;
        background-color: burlywood;
    }
    #send{
        height:10%;
        display: flex;
        input{
            width:70%;
        }
        button{
            width:30%;
        }
    }
}