#home-container{
    display: flex;
    #users{
        width: 20%;
    }
    #feed-posts{
        width: 60%;
        padding: 10px;
    }

    #user-friends{
        width: 20%;
        padding: 10px;
        border-left: 1px solid lightgrey;
        height: 100%;
    }
}
body{
    margin: 0;
    /* text-align: center; */

    #layout-main{
        height: 100%;
        background-color:lavenderblush;
    }
}
.post-content{
    border: 1px solid maroon;
    display: inline-block;
    padding: 1rem;
}
.comment-author{
    font-style: italic;
}