<html>
    <head>
        <title>Know Your Friend</title>
    </head>
    <body>
        <big><%= user.name %></big>, has been added as a friend. To remove the person from you friend list, visit <a href="http://localhost:8000/friends/remove/<%=user._id%>">here</a>
    </body>
</html>